<% if user_signed_in? %>

  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
        <tr>
          <td>
            <%= link_to friend.first_name + ' ' + friend.last_name, friend, class:"text-decoration-none text-primary" %>
          </td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
          <td class="text-center"><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger px-3" %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Friend', new_friend_path, class:"btn btn-dark" %>

<% else %>

  <div class="card">
      <div class="card-header">
        <h3>Welcome!</h3>
      </div>

    <div class="card-body">
    <br/>
    <h5>This is a Ruby on Rails project, styled with Bootstrap.</h5>
    <br/>
    <h5>It contains examples of:</h5>
    <br/>
      <ul>
        <li>CRUD operations</li>
        <li>Navbar search</li>
        <li>User profile functionality:</li>
          <ul>
            <li>Sign in & sign out</li>
            <li>Profile update page</li>
            <li>Password recovery</li>
          </ul>
      </ul>
    <br/>
    <h5>Create an account to get started!</h5>
    </div>
  </div>

<% end %>